body{
		display:flex;
		flex-direction:column;
		justify-content:center;
		text-align:center;
		align-items:center;
	
	
	
}

header {
		background-color:gray;
		color: white;
		display:flex;
		justify-content:center;
		align-items:center;
		top:0;
		position:fixed;
		width:100%;
		
}

body {
		background-image: url(https://static.vecteezy.com/system/resources/previews/010/008/086/original/background-dimension-3d-graphic-message-board-for-text-and-message-design-line-shadow-for-modern-web-design-free-vector.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
}

img {
		width: 100%;
		max-width: 200px;
		height: 200px;
		object-fit: cover;
}

a {
	margin-left: 25px;
	text-decoration: none;
	color: black;
	font-size: 15px;
	font-family: "Inter", sans-serif;
	font-weight: bold;
	transition: 0.5s;
	padding: 5px;
}

a:hover{
	background-color: #B6B6B6;
	padding: 10px;
	border-radius: 15px;
}